 body
{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    background-color:hsl(218, 23%, 16%);
    color:hsl(193, 38%, 86%);
    font-size: 28px;
}
 .attribution 
 { 
     font-size: 11px; text-align: center;
 }

.attribution a 
{ 
    color: hsl(228, 45%, 44%);
    
}

.card {
 
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: hsl(217, 19%, 24%);
 
}

.adviceNumber{
    margin-top: 35px;
    color: hsl(150, 100%, 66%);
    font-size: 20px;
    margin-bottom: 20px;
    
}
.adviceText{
    text-align: center;
    color:hsl(193, 38%, 86%);
    margin: 10px;
}

#diceButton{
  all: unset;  /* very cool effect, hides default css/

  /* Old way of removing default css 
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none */
}
#imgButton{
    background-color: hsl(150, 100%, 66%);
    border-radius: 20px;
    padding: 20px;
}
#imgButton:hover
{   border-radius: 25px;
    padding: 25px;
    background-color: hsl(150, 100%, 51%);
}
#glowButton{
    position: relative;
    top: -30px;
}

#imgDividerMobile
{
    margin: 75px;
    margin-top: 30px;
}

#imgDividerDesktop{
    display: none;
}
@media (min-width: 1440px) {
    
    #imgDividerMobile
    {
        
        display: none;
    }
    #imgDividerDesktop
    {
       
       display: block;
       margin: 50px;
    }

    .card{
       
        margin-top: 100px;
        margin-left: 450px;
        margin-right: 450px;
    }
}